Employee.WinClient/Service References/EmployeeServiceReference/EmployeesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7760/EmployeesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7760/EmployeesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7760/EmployeesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeesService_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeesService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeesService">
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesService/GetEmployeeById" message="tns:IEmployeesService_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesService/GetEmployeeByIdResponse" message="tns:IEmployeesService_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeesService/UpdateEmployee" message="tns:IEmployeesService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeesService/UpdateEmployeeResponse" message="tns:IEmployeesService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeesService" type="tns:IEmployeesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IEmployeesService/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeesService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesService">
    <wsdl:port name="BasicHttpBinding_IEmployeesService" binding="tns:BasicHttpBinding_IEmployeesService">
      <soap:address location="http://localhost:7760/EmployeesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>